<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body>
<h1>GR BOARD</h1>
<div>
    <dl>
        <dt>${article.title}</dt>(${article.regdttm})
        <dd>${article.contents}</dd>
    </dl>
</div>
</body>
</html>