<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>에러</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
    <h1>Error</h1>
</body>
</html>