<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="ko">
    <meta charset="UTF-8"/>
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<div id="contentWrap">
    <h1>GR BOARD</h1>
    <p><a href="#" th:href="@{/articles/write}">write</a></p>
    <table id="articleTable">
        <tr>
            <th class="article_no">No</th>
            <th class="article_title">Subject</th>
            <th class="article_date">date</th>
            <th class="article_name">name</th>
            <th class="article_hit">hit</th>
        </tr>

        <tr class="article_no" th:each="article : ${articles}">
            <td th:text="${article.articleId}">122121</td>
            <!--<td class="article_title"><a href="#" th:href="|/articles/${article.articleId}|" th:text="${article.title}">타이틀</a></td>-->
            <td><div class="table_text_over"><a href="#" th:href="|/articles/${article.articleId}|" th:text="${article.title}">타이틀</a></div></td>
            <td th:text="${article.dateOrTime}">22:10:22</td>
            <td>글쓴이</td>
            <td th:text="${article.hit}">1</td>
        </tr>

    </table>
    <div id="paging">
        <span class="next" th:if="${page.hasNext()}">
            <a href="#" th:href="@{/articles(offset=${page.next()}, limit=${page.getLimit()})}">next</a>
        </span>
        <span class="previous" th:if="${page.hasPrevious()}">
            <a href="#" th:href="@{/articles(offset=${page.previous()}, limit=${page.getLimit()})}">previous</a>
        </span>
    </div>

</div>

</body>
</html>