<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>GR BOARD</h1>

<form action="/articles" method="post">
    <fieldset>
        <legend>게시글 작성</legend>
        <label for="title">제목</label>
        <input name="title" type="text" id="title" value="$!{article.title}"> #if($error.title) ${error["title"]} #end <br/>
        <label for="contents">내용</label>
        <textarea name="contents" id="contents" cols="40" rows="5">$!{article.contents}</textarea>#if($error.contents) ${error["contents"]} #end  <br/>
        <input type="submit" value="확인"/><input type="reset" value="취소"/>
    </fieldset>
</form>
<ul>
    #foreach($article in ${articles})
        <li>$article.getArticleId() <a href="/articles/$article.getArticleId()">$article.getTitle()</a> <a href="/articles/remove/$article.getArticleId()">삭제</a></li>
    #end
</ul>

</body>
</html>